<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">
	
	<!-- 创建如下bean等于完成了:HelloWorld helloWorld = new HelloWorld -->
	<bean id="user" class="com.tango.beans.User" />
	<bean id="userDao" class="com.tango.dao.UserDao" />
	<bean id="userService" class="com.tango.service.UserService" />
	<tx:annotation-driven transaction-manager="transactionManager" /></beans>